html {
  scroll-behavior: smooth;
}
.detail1{
    /* background-color: #F7F9F9; */
}
/* Style The Dropdown Button */
.dropbtn {
    /* background-color: #4CAF50; */
    /* color: white; */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }




  /* ------------------------------------------------------- */
  .inputGroup {
    background-color: #fff;
    display: flex;
    margin: 10px 0;
    position: relative;
  }
  .inputGroup label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-transition: color 200ms ease-in;
    transition: color 200ms ease-in;
    overflow: hidden;
  }
  .inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #5562eb;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
  }
  .inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  .inputGroup input:checked ~ label {
    color: #fff;
  }
  .inputGroup input:checked ~ label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
            transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
  }
  .inputGroup input:checked ~ label:after {
    background-color: #54E0C7;
    border-color: #54E0C7;
  }
  .inputGroup input {
    width: 32px;
    height: 32px;
    -webkit-box-ordinal-group: 2;
            order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
  
  .form {
    padding: 0 16px;
    max-width: 550px;
    margin: 50px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
  }
  
  
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }

  .cate{
    /* margin-left: 25%; */
    border: none  ;
    text-align: center;
    height: 60px;
    width: 518px;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
  }
  
  .ImageBackground{
    background: url("../img/BG5.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
  }
  .gradiant-sakani{
    background: linear-gradient( rgba(40,63,71,.2), rgba(40,63,71,.8)) ;
    margin-top: 4rem;
  }
  
  .rounded-sakani{
    border-radius: .7rem!important;
  }
  .rounded-sakani h2{
    /* color:white */
  }
  .middle-const{
    /*position: relative;*/
    width: 250px;
    border-radius:100%;
    height: 2.5px;
    top: 0;
    right: 0;
    background-color: orange;
    /*visibility: hidden;*/
    transform: scaleX(1);
  }
  .primary-menu-menu a{
    text-decoration: none;
  }
  .filter{
    background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .btn-filter{
    color: white;
    text-align: center;
    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #d9d9d9;
    padding: 4px 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-transform: uppercase;
    width: 160px;
    font-family: inherit;
    margin-right: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
  
  }
  .btn-filter:hover {
    border: 1px solid #fa770d;
    color: #fa770d;
    cursor: pointer;
  }
  .btn-fil{
    color: white;
    text-align: center;
    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #d9d9d9;
    /* padding: 4px 10px; */
    /* margin-bottom: 30px; */
    /* margin-top: 30px; */
    text-transform: uppercase;
    font-family: inherit;
    /* margin-right: 5px; */
    transition: all 0.3s ease;
    font-weight: 500;
  
  }
 
  
  .collapse{
    
  }

  
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ff6300;
  background: #211b19;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}

.notify-badge{
  text-transform: uppercase;
  position: absolute;
  left:53px;
  top:40px;
  background:#00000096;
  text-align: center;
  /*opacity: .7;*/
  color:white;
  padding:5px 10px;
  /* border:1px solid white; */
}
.btn-sakani{
  color: #fff0e3;
  background-color: #fa770d;
  border-color: #fa770d;
  height: 40px;
  border-radius: 5px;
}

.btn-sakani:hover{
  background-color: #ff8e32;
  border-color: #d55f00;
  color: #fff;
}

.btn-sakani:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle{
  background-color: #d7690f;
  border-color: #cf5d00;
}

.btn-sakani.focus, .btn-sakani:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 126, 7, 0.5);
}
.text-sakani{
  color: #fa770d!important;
}
html {
  scroll-behavior: smooth;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 111111;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown2:hover .dropdown-content {
  display: block;
}
.navh{
  /* background-color: white; */
  z-index: 99999999999999999999999;

}
.log{
  position: absolute;
  margin-left:860px;
  /* background-color: white; */
}

@media only screen and (max-width: 768px) {
  .header-content-wrapper{
    background-color: white;
    z-index: 9999999999999999999;
  }
  .navh{
    margin-top: 9px;
    
  
  }
  .log{
    position: relative;
    margin-left: 0;
  }
}


.descp{
  -webkit-line-clamp: 3;
}